$body-color: bisque;
$font-family: sans-serif;
$primary-color: #191042;
$primary-bg-color: #FCAF88;
$secondary-bg-color: rgba(0, 0, 0, 0.35);
$border-color: bisque;
$border-style: dashed;

.navbar {
    margin-top: 20px;
    color: $body-color;
    background-color: $secondary-bg-color;
}

.navbar-brand {
    color: $body-color;
    font-size: 42px;
    font-family: 'Beautiful Magic';
}

.container-fluid {
    padding: 0;
}  

.magic__font {
    font-family: 'Beautiful Magic';
}

.btn-primary {
    letter-spacing: 1px;
    border-radius: 55px;
    color: $primary-color;
    background-color: $primary-bg-color;
}

.btn-primary:hover {
    background-color: #FF6F59;
}

.card {
    background-color: inherit;
    border: 1px solid $border-color;
    border-radius: 10px;
    transition: 0.5s transform;
    width: 200px;

    .card-img-top {
        margin: 0 auto;
        max-width: 100%;
        border-radius: 10px; 
    }

    &:hover {
        transform: scale(1.15);
    }

    .card-body {
        padding: 10px 20px;
    }

    .book-author {
        margin-left: 0;
    }

    p.book-price {
        margin: 0;
    }
}

.col-12.col-md-3 {
    border-color: $border-color;
    border-style: $border-style;
}

.container-fluid.form__grid {
    padding: 0;
}

.form__grid .row {
    margin: 30px;
}

.form__grid .col-md-4,
.form__grid .col-md-5,
.form__grid .col-md-3 {
    padding: 0;
}

.col-12.col-md-3 .card-text {
    padding: 16px 10px;
}

label {
    margin: 0;
}

.col-12.col-md-3 .card-text p {
    margin: 0;
}

.col-12.col-md-5 .card-text p {
    margin: 10px 0;
}

p {
    margin: 10px;
}

.username {
    margin: 0;
}

.input-container input[type="text"],
.input-container select {
    padding: 8px;
    border: 1px solid $border-color;
    border-radius: 4px;
    width: auto;
    font-size: 16px;
    color: $body-color;
    background-color: $secondary-bg-color;
    transition: border-color 0.3s ease;
    margin: 10px;
}

.input-container select {
    width: auto;
}

.input-container input[type="text"]:focus,
.input-container select:focus {
    outline: none;
    border-color: $primary-color;
}


  
  
  
  